exclude: ".venv|__pycache__|tests/dev/|tests/fixtures/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: check-case-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: [--remove]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.2.1"
    hooks:
      - id: ruff
        args:
          - --fix-only
          - --target-version=py39

  - repo: https://github.com/python/black
    rev: 24.1.1
    hooks:
      - id: black
        args:
          - "--config=pyproject.toml"
          - --target-version=py39

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args:
          - --profile
          - black
          - --filter-files

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        files: ^pyqgisgmsher/.*\.py$
        additional_dependencies: ["flake8-qgis<2"]
        args:
          [
            "--config=pyproject.toml",
            "--select=E9,F63,F7,F82,QGS101,QGS102,QGS103,QGS104,QGS106",
          ]
